.contacts
  text-align center
  .main-form
    position relative
  .contact-info
    font-family 'HelveticaNeueCyr-Light'
    font-size 24px
  +below(mobile-breakpoint)
    h1
      font-size 24px
    .contact-info
      font-size 20px
  button
    padding-botton 10px
