.rent
  h1
    color #ffff00
    text-align center
  p,table
    font-family 'HelveticaNeueCyr-Light'
    font-size 18px
  table
    // display block
    border-collapse separate
    border-spacing 10px 10px
    margin 0 auto
    th
      font-family 'HelveticaNeueCyr-Bold'
      color #ffff00
      border-bottom 1px dashed #595928
      padding 0 10px 10px 10px
    td
      text-align center
      padding 0 10px
  .footnote
    margin 0
    font-size 14px
    padding-left 90px
  .table-two
    margin-top 50px
  .bike
    margin 50px 0
  span
    font-family 'HelveticaNeueCyr-Bold'
    color #ffff00
  +below(mobile-breakpoint)
    text-align center
    h1
      font-size 24px
    p,table
      font-size 18px
    .footnote
      padding-left 10px
  +below(table-breakpoint)
    .table-scroll
      overflow-x scroll
    table::-webkit-scrollbar
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
    table::-webkit-scrollbar-thumb
      border-radius: 8px;
      border: 3px solid #fff;
      background-color: rgba(0, 0, 0, .3);
