section.about.pt-page-moveToLeftFade
  h1 О нашей компании
  p Наша компания оказывает профессиональные услуги грузоперевозок с марта 2015 года. Транспортные услуги «Караван» - надёжно и аккуратно перевезет ваши личные вещи при переездах. На сайте можно ознакомится со всеми услугами грузоперевозок и нашим транспортом для перевозки негабаритных грузов. При заказе мы подерём оптимальное количество и размер машины. В наличии фургоны оборудованные гидробортом.
  p Сфера деятельности мувинговой компании «Караван» не ограничивается только грузоперевозками - профессиональная бригада грузчиков выполнит сложные погрузо-разгрузочные и такелажные работы. Наша команда поможет в организации переезда: 
  ul
    - var list = ['переезд квартиры;','переезд офиса;','прокат прицепов;','отключение бытовой техники;','упаковка мебели, личных вещей, хрупких предметов;','разборка мебели;','перевозка мебели и вещей к новому месту жительства;','установка бытовой техники на новом месте;','сборка мебели;']
     each li in list
      li #{li}
  a.aftograf(href="http://risestudio.by")
    img.img-af(src="images/aftograf.png" alt="img")
    p.p-af Дизайн завод Rise
