section.feedback
  div.Wallop.Wallop--fade.bounceinleft
    div.Wallop-list
    - var items = [{'img':'images/feedback/1.png','text':'Огромное спасибо! Работа по перевозке и поднятию пианино была выполнена на 5+, все четко, аккуратно,слажено, даже не думал, что так бывает. Если вдруг опять нужно будет воспользоваться подобными услугами, то обращаюсь только к Вам!','name':'Макс Гулецкий'},{'img':'images/feedback/2.png','text':'Заказывал перевезти однокомнатную квартиру. Работники приехали в назначенное время и быстро и качественно выполнили работу.','name':'Сергей Леонидович'},{'img':'images/feedback/3.png','text':'Сегодня перевозила квартиру.Заказывала машину и двух грузчиков. К подъезду, где проживаю, все прибыли за десять минут до назначенного времени. Грузчики порадовали: работали быстро, без перерывов. Вся мебель в таком же состоянии, как и до перевозки, грузчики переносили ее максимально бережно, как свою. Не могу не отметить приветливость работников и расположенность к высокому качеству осуществления своей деятельности. Спасибо за безупречную работу. Рекомендую!','name':'Кристина Дублан'}]
     each item in items
      div.Wallop-item
        img(src="#{item.img}" alt="img")
        p.feedback-text #{item.text}
        p.feedback-name #{item.name}
    button.Wallop-buttonPrevious
    button.Wallop-buttonNext
  a.aftograf(href="http://risestudio.by")
    img.img-af(src="images/aftograf.png" alt="img")
    p.p-af Дизайн завод Rise
