section.rent
  h1 Аренда и прокат прицепов в Молодечно, Вилейке и Сморгони
  div.table.table-one
    p Мы осуществляем аренду и прокат одноосных и двухосныx прицепов под категорию "B":
    p С тентом:
    div.table-scroll
      table
        tr
          th Размеры кузова
          th Тонаж
          th Тент, объем
          th 1-2 суток
          th 3-6 суток
          th от 7 суток
          th до 5 часов
        tr
          td 4,5*1,5 м
          td 1300 кг
          td 1.8м, 12 м3
          td 30 р.
          td 27 р.
          td 23 р.
          td 20 р.
        tr
          td 3,5*2 м
          td 1000 кг
          td 1.85м, 13 м3
          td 30 р.
          td 27 р.
          td 23 р.
          td 20 р.
        tr
          td 3,5*1,5 м
          td 1200 кг
          td 1.55м, 8 м3
          td 28 р.
          td 25 р.
          td 22 р.
          td 20 р.
        tr
          td 3,1*1,8 м
          td 700 кг
          td 1.55м, 8,3 м3
          td 25 р.
          td 22 р.
          td 19 р.
          td 17 р.
        tr
          td 3,5*1,5 м
          td 700 кг
          td 1.8м, 8 м3
          td 25 р.
          td 22 р.
          td 19 р.
          td 17 р.
        tr
          td 2,7*1,5 м
          td 700 кг
          td 1.55м, 6 м3
          td 24 р.
          td 21 р.
          td 18 р.
          td 17 р.
    p.footnote * В таблице указан максимальный тоннаж перевозимого груза, высота тента указана от пола прицепа
    p Без тента:
    div.table-scroll
      table
        tr
          th Размеры кузова
          th Тонаж
          th 1-2 суток
          th 3-6 суток
          th от 7 суток
          th до 5 часов
        tr
          td 4,5*1,5 м
          td 1400 кг
          td 30 р.
          td 27 р.
          td 23 р.
          td 20 р.
        tr
          td 3,5*2 м
          td 1100 кг
          td 30 р.
          td 27 р.
          td 23 р.
          td 20 р.
        tr
          td 3,5*1,5 м
          td 1200 кг
          td 28 р.
          td 25 р.
          td 22 р.
          td 20 р.
        tr
          td 3,5*1,5 м
          td 700 кг
          td 25 р.
          td 22 р.
          td 19 р.
          td 17 р.
        tr
          td 2,7*1,4 м
          td 700 кг
          td 22 р.
          td 20 р.
          td 18 р.
          td 17 р.
  div.table.table-two
    p Мы осуществляем аренду и прокат прицепов-автовозов (лафетов) и прицепов для частичной погрузки авто и также двухосных прицепов под категорию "Е":
    div.table-scroll
      table
        tr
          th Размеры кузова
          th Тонаж
          th Тент
          th Кубатура
          th 1-2 суток
          th 3-6 суток
          th от суток
        tr
          td 8,1*2 м
          td 3500 кг
          td есть 1,8 м
          td 30 м3
          td 90 р.
          td 80 р.
          td 70 р.
        tr
          td 5,5*2,1 м
          td 2000 кг
          td есть 1,8 м
          td 30 м3
          td 55 р.
          td 47 р.
          td 40 р.
        tr
          td 4,5*2,1 м
          td 2700 кг
          td -
          td -
          td 40 р.
          td 35 р.
          td 30 р.
    p.footnote * В таблице указан максимальный тоннаж перевозимого груза, высота тента указана от пола прицепа. Цена указана за каждые сутки.
  p.bike Прицепы для мотоциклов и квадроциклов - 24 р. в сутки.
  p Внимание, при выборе #[span прицепа в аренду] важно учитывать габариты груза, а так же его массу. Нельзя перегружать прицеп и не желательно перевозить груз, выступающий за боковые "грани" прицепа. Если вы берёте в #[span прокат прицеп] с тентом, обратите внимание - груз не должен упираться острыми углами в тент, тк при езде есть возможность образования "дырки" в тенте.
  a.aftograf(href="http://risestudio.by")
    img.img-af(src="images/aftograf.png" alt="img")
    p.p-af Дизайн завод Rise
