doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="format-detection", content="telephone=no")
    title Караван - Транспортные услуги
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet" href="./css/animate/animate.css")
    link(rel="stylesheet", href="./css/animate/animations.css")
    link(rel="stylesheet", href="./css/animate/component.css")
    link(rel="stylesheet" href="./css/slider/wallop.css")
    link(rel="stylesheet" href="./css/slider/wallop--fade.css")
    link(rel="stylesheet" href="./css/style.css")
    script(src="js/pageAnim/modernizr.custom.js")
    script(src="js/jquery/jquery.min.js")
    script(src="js/jquery/viewport.min.js")
    script(src="js/slider/Wallop.js")
    script(src="js/pageAnim/jquery.dlmenu.js")
    script(src="js/pageAnim/pagetransitions.js")
    script(src="js/index.js")
    script(src="js/routes/page.js")
    script(src="js/routes/index.js")
    script(src="js/routes/app.js")
    
  body
    div.wrapper
      header
        div.header-logo
          a(href="/")#logo
            img(src="images/header/logo.gif" width="55" alt="logo")
          p.header-logo-name Караван
          p Транспортные услуги
        div.header-numbers
          div.images-mts.images
          p +375 (33) 316 23 34
          div.images-vel.images
          p +375 (29) 656 23 34
        div.header-mail
          a(href="https://vk.com/club108449936")
            div.images-vk
          p
            | Email: <br/>
            span transcaravan@yandex.ru
      nav
        div.button-menu
        ul.main-menu#main-menu
          li
            a(href="service") Услуги
          li
            a(href="rent") Аренда
          li
            a(href="about") О нас
          li
            a(href="feedback") Отзывы
          li
            a(href="contacts") Контакты
      section#content
